<!-- Loop over each object in the projects array -->

<div id="disclaimer">
  <h2>We are not doctors</h2>
  <h3>The creators of this website would like to inform you that we are not
    health care professionals. We created this website with the sole purpose to
    allow anyone to find an interaction between two drugs.</h3>
  <p>This website is powered by the National Library of Medicine</p>
</div>
{{#each projects as |project|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/project/{{project.id}}">{{project.name}}</a>
      </h2>
      <p>
        <span for="img" aria-label="pill">💊</span>
        <!-- Pass needed_funding value to the helper function -->
        <span class="dollar-amount">{{format_amount
            project.needed_funding
          }}</span>
        needed!
      </p>
      <p>Created by
        {{project.user.name}}
        on
        {{format_date project.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{project.description}}
      </p>
    </div>
  </div>
{{/each}}