<h1>1
  {{userId}}
  2
  {{{userId}}}
  3
  {{{User:name}}}
  4
  {{{user}}}
  5
  {{user}}
  6
  {{user.name}}
  7
  {{User.name}}
  8
  {{User}}

  HELLO Login PAGE</h1>
<!-- Login space -->
<!-- Email -->
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Email:</span>
  <input
    type="text"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg"
  />
</div>
<!-- Password -->
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Password:</span>
  <input
    type="text"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg"
  />
</div>

<button type="button" class="btn btn-info">Login</button>
<!-- Login ends here -->

<!-- Create Account space -->
<!-- Email -->
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Email:</span>
  <input
    type="text"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg"
  />
</div>
<!-- Password -->
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Password:</span>
  <input
    type="text"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg"
  />
</div>
<!-- Name -->
<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Name:</span>
  <input
    type="text"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg"
  />
</div>

<button type="button" class="btn btn-info">Create Login</button>
<!-- Create Account ends here -->